
body {
    margin: 0;
    padding: 0;
}

.tela {
    background: #f7de79;
    height: 100vh;
    text-align: center;
}

.tela-pergunta {
    padding-top: 20%;
}

.logo {
    max-width: 100%;
    margin-top: 100px;
    max-height: 50%;
}

.iniciar {
    width: 130px;
    height: 60px;
    background: #1d70b7;
    border: 6px solid #2d2e82;
    margin-top: 50px;
    cursor: pointer;

    color: #f29100;
    font-size: 35px;
    font-weight: bold;
}

.balao {
    background: url("balao.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    margin-bottom: 30px;
}

.pergunta {
    font-size: 30px;
    margin: 0 80px 20px 80px;
}

.responder {
    width: 350px;
    height: 60px;
    background: white;
    border: 6px solid black;
    margin-top: 35px;
    cursor: pointer;

    color: black;
    font-size: 35px;
    font-weight: bold;
}